<section class="left-side-menu">
    <span class="logo" [routerLink]="'/'" routerLinkActive="active">
        <span class="logo-img">
            <img src="assets/logo-green.png" alt="logo">
            <img src="assets/logo-dark-green.png" alt="logo">
            <img src="assets/logo-blue.png" alt="logo">
        </span>
        <span>logoipsum</span>
    </span>

    <div class="main-menu">
        <span class="title"> Main Menu</span>
        <span class="list">
            <a [routerLink]="'/dashboard'" routerLinkActive="active">
                <img src="assets/icons/dashboard-icon-active.svg" alt="icon">
                <span class="tab">Dashboard</span>
            </a>
            <!-- <a>
                <img src="assets/icons/dashboard-icon.svg" alt="icon">
                <span class="tab">Dashboard</span>
            </a> -->

            <span class="horisontal-line"></span>
        </span>
    </div>

    <button type="button" class="logout">
        <img src="assets/icons/logout-icon.svg" alt="logout">
        <span>Logout</span>
    </button>
</section>