@import "../../../../../assets/styles/variables";

header {
  display: grid;
  padding: 15px 35px;
  grid-template-columns: 1fr 1fr 1fr;
  .search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    mat-icon {
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      color: $secondary-text-color;
    }
    input {
      border-radius: 200px;
      border: none;
      outline: none;
      background-color: $input-color;
      padding: 15px 30px 15px 65px;
      width: 100%;
    }
  }

  .user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .user-menu {
      display: flex;
      align-items: center;
      background-color: transparent;
      img {
        margin-right: 16px;
        width: 48px;
        border-radius: 100%;
        border: 2px solid transparent;
        &.isMenuOpen {
          border: 2px solid rgba(76, 111, 255, 0.4);
        }
      
      }
      .user-name {
        margin-right: 25px;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        color: $black-color;
        &.isMenuOpen {
          color: $status-color;
        }
      }
      .mat-icon {
        color: $secondary-text-color;
      }
    }
  }
}
