.dashboard {
  height: 100%;
  padding: 30px 35px;
}

main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  .dashboard-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
