@import "../../../assets/styles/variables";

.login-page,
.signup-page,
.reset-password-page {
  display: flex;
  justify-content: space-between;

  .img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
  }
  .form {
    height: 100vh;
    max-width: calc(100% - 600px);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background-color: rgb(229 229 229 / 2%);

    form {
      width: 465px;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        color: $black-color;
        margin-bottom: 8px;
      }
      .sub-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $black-color;
        margin-bottom: 45px;
      }
      mat-form-field {
        margin-bottom: 25px;
        &.isHint {
          padding-bottom: 20px;
        }
      }

      .reset-password-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: $primary-color;
        margin-bottom: 20px;
        width: max-content;
      }

      .terms-and-policy-link {
        font-size: 16px;
        font-weight: normal;
        line-height: 19px;
        margin-bottom: 20px;
        .info {
          color: $secondary-text-color;
        }
        .link {
          color: $primary-color;
        }
      }
      button[type="submit"] {
        color: $white-color;
        background-color: $primary-color;
        border-radius: 3px;
        padding: 16px;
        width: 100%;
        transition: 0.5s;
        &:hover {
          color: $primary-color;
          background-color: rgba(46, 91, 255, 0.04);
          transition: 0.5s;
        }
        &:disabled {
          color: $inactive-state-color;
          background-color: $input-color;
        }
      }
      .horisontal-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
        .line {
          height: 0.5px;
          width: 100%;
          background-color: #9d9d9d;
        }
        .text {
          font-size: 12px;
          font-weight: 500;
          line-height: 14px;
          text-align: center;
          margin: 0 18px;
          white-space: nowrap;
          color: $secondary-text-color;
        }
      }
      .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 70px;
          height: 48px;
          background: $white-color;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:not(:last-child) {
            margin-right: 20px;
          }
          img {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
    .redirect-to {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 40px;
      span {
        font-size: 16px;
        line-height: 19px;
        color: $secondary-text-color;
        &.link {
          color: $status-color;
          cursor: pointer;
        }
      }
    }
  }
}

.login-page,
.reset-password-page {
  .img {
    background-position-x: right;
    background-position-y: bottom;
  }
}

.login-page {
  .img {
    background-image: url(/assets/pre-login-img/login-image.png);
  }
}

.signup-page {
  .img {
    background-image: url(/assets/pre-login-img/signup-image.png);
    background-position-x: center;
    background-position-y: bottom;
  }
}

.reset-password-page {
  .img {
    background-image: url(/assets/pre-login-img/reset-password-image.png);
  }
}

//logout
.horisontal-container {
  display: flex;
  .mat-form-field {
    width: 100%;
    &:nth-child(1) {
      margin-right: 30px;
    }
  }
}
