<!-- LOGIN -->
<section class="login-page" *ngIf="isCurrentRoute('/')">
    <div class="img"></div>
    <div class="form">
        <form [formGroup]="signInForm"  (ngSubmit)="onSubmit()">
            <h3 class="title">Welcome back</h3>
            <span class="sub-title">Sign in to manage your account.</span>

            <mat-form-field floatLabel="always">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="pat@example.com" [formControlName]="'email'">
            </mat-form-field>

            <mat-form-field floatLabel="always">
                <mat-label>Password</mat-label>
                <input matInput [type]="'password'" [formControlName]="'password'">
            </mat-form-field>

            <a class="reset-password-link" [routerLink]="'/reset-password'"> Forgot your password? </a>

            <button type="submit"> Sign in </button>

            <div class="horisontal-line">
                <span class="line"></span>
                <span class="text">Or do it via other accounts</span>
                <span class="line"></span>
            </div>

            <div class="social-media">
                <button><img src="../../../assets/icons/google-color-icon.svg" alt="google"></button>
                <button><img src="../../../assets/icons/facebook-color-icon.svg" alt="facebook"></button>
            </div>
        </form>
        <span class="redirect-to">
            <span class="info">Don’t have an account? </span>
            <span class="link" [routerLink]="'/signup'"> Sign Up</span>
        </span>
    </div>

</section>

<!-- SIGN UP -->
<section class="signup-page" *ngIf="isCurrentRoute('/signup')">

    <div class="img"></div>
    <div class="form">
        <form>
            <h3 class="title">Title</h3>
            <span class="sub-title"></span>
        </form>
    </div>


    <!-- <h1>Sign Up Page</h1>

    <button style="background-color: red;padding: 10px;" [routerLink]="'/'"> Move to Login</button> -->
</section>


<!-- RESET PASSWORD -->
<section class="reset-password-page" *ngIf="isCurrentRoute('/reset-password')">

    <div class="img"></div>
    <div class="form">
        <form>
            <h3 class="title">Title</h3>
            <span class="sub-title"></span>
        </form>
    </div>


    <!-- <h1>Reset Password Page</h1>
    <button style="background-color: red;padding: 10px;" [routerLink]="'/'"> Move to Login</button> -->
</section>