@import "./assets/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

a,
button {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  gap: 0px;
  height: 100vh;

  &.isFullScreen {
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 230px 1fr;

    gap: 0px;
    height: 100vh;

    app-header {
      grid-row-start: 1;
      grid-column-start: 2;

      grid-row-end: 2;
      grid-column-end: 3;
    }

    app-left-side-menu {
      grid-row-start: 1;
      grid-column-start: 1;

      grid-row-end: 3;
      grid-column-end: 2;
    }
    main {
      background-color: #d87dd7;
      grid-row-start: 2;
      grid-column-start: 2;

      grid-row-end: 3;
      grid-column-end: 3;
    }
  }
}

//user mat-menu
.mat-menu-panel {
  min-height: unset !important;
  .mat-menu-content {
    width: 160px;
    &:not(:empty) {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

//mat-form-field
.mat-form-field-wrapper {
  padding: 0!important
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $input-color inset !important;
    -webkit-text-fill-color: $secondary-text-color !important;

}

input.mat-input-element {
  padding: 18px 30px 18px 30px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: $input-color !important;
  outline: none!important;
  font-size: 16px;
  color: $secondary-text-color!important;
}

.mat-form-field-underline {
  display: none !important;
}
.mat-form-field-label {
  color: $secondary-text-color !important;
  font-size: 16px!important;
  line-height: 19px!important;
}
.mat-form-field-infix {
  padding: 0!important;
}