@import "./assets/styles/variables";
@import "./assets/styles/material";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

a,
button {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  gap: 0px;
  height: 100vh;

  &.isFullScreen {
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 230px 1fr;

    gap: 0px;
    height: 100vh;

    app-header {
      grid-row-start: 1;
      grid-column-start: 2;

      grid-row-end: 2;
      grid-column-end: 3;
    }

    app-left-side-menu {
      grid-row-start: 1;
      grid-column-start: 1;

      grid-row-end: 3;
      grid-column-end: 2;
    }

    main {
      background-color: $input-color;
      grid-row-start: 2;
      grid-column-start: 2;

      grid-row-end: 3;
      grid-column-end: 3;
    }
  }
}
