//colors

//main
$primary-color: #4C6FFF;
$black-color: #1A1E2C;

//other
$white-color: #FFFFFF;
$input-color: #F5F6F7;
$status-color: #2E5BFF;
$header-color: #040D32;

$secondary-text-color: #6F7C8B;
$inactive-state-color: rgba(111, 124, 139, 0.5);

$light-grey-primary-color: #EAEDF3;
$dark-grey-primary-color:#8E94A7


