@import "variables";

//user mat-menu
.mat-menu-panel {
  min-height: unset !important;

  .mat-menu-content {
    width: 160px;

    &:not(:empty) {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

//mat-form-field
.mat-form-field-wrapper {
  padding: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $input-color inset !important;
  -webkit-text-fill-color: $secondary-text-color !important;
}

input.mat-input-element, textarea.mat-input-element  {
  padding: 18px 30px 18px 30px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: $input-color !important;
  outline: none !important;
  font-size: 16px;
  color: $secondary-text-color !important;
}

.mat-form-field-underline {
  display: none !important;
}

.mat-form-field-label {
  color: $secondary-text-color !important;
  font-size: 16px !important;
  line-height: 19px !important;
}

.mat-form-field-infix {
  padding: 0 !important;
  border-top: none !important;
}

app-dashboard {
  .mat-form-field-flex {
    width: 110px !important;
  }
}


//mat-check-box
.mat-checkbox-inner-container {
  height: 24px !important;
  width: 24px !important;
  background: $input-color;
  box-sizing: border-box;
}

.mat-checkbox-frame {
  border: 1px solid #eeeeef;
  border-radius: 3px !important;
}

.mat-checkbox .mat-checkbox-ripple {
  display: none;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $status-color;
}

// mat-hint
mat-hint {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}


.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin-top: 20px;
}


// mat-select
.cdk-overlay-pane {
  top: 155px !important;
}

.mat-select-panel {
  min-width: 100% !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $status-color;
}

.mat-form-field-suffix {
  position: absolute !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.mat-select-arrow {
  opacity: 0 !important;
}

mat-icon {
  &.isSortSelect {
    padding-left: 10px;

    &::before {
      content: "";
      height: 40px;
      display: inline-block;
      border-left: 1px solid #E7E9F0;
      position: absolute;
      top: -8px;

    }
  }

}


//mat-card (article)

.mat-card {
  border-radius: 6px!important;
  background: white;
  width: 370px;

  position: relative;
  z-index: 1;
}


mat-card-subtitle {
  font-size: 13px;
  line-height: 19px;
  color: #6E798C;
  display: flex;
  justify-content: space-between;
}

mat-card-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #081F32;
}

mat-card-content {
  p {
    font-size: 13px;
    line-height: 19px;
    color: #374A59;

    //ellipsis
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;

  .user {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;

    color: #4C6FFF;

    img {
      width: 32px;
      margin-right: 8px;
    }
  }

  button {
    color: #4C6FFF;
    display: flex;
    align-items: center;
    background: transparent;

    span {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
    }

    mat-icon {
      font-size: 16px;
      height: auto !important;
    }

  }
}


//mat-menu
.mat-menu-item:hover:not([disabled]){
  background: #F4F6FF!important;
  color: #1943EF!important;
}
